@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
body {
  background: rgb(0, 108, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 108, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 108, 255, 1) 100%
  );
  font-family: "Dosis";
}
nav {
  font-family: "Dosis";
  font-size: 1.3rem;
}
.Logo {
  width: 100px;
}
.card {
  margin-top: 1rem;
}
.icon-nav {
  width: 1.3rem;
  margin-right: 5px;
}
.icon-login {
  width: 1.3rem;
  margin-right: 5px;
}
.icono-facebook {
  width: 2rem;
}
.icono-google {
  width: 2rem;
}
