@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 108, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 108, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 108, 255, 1) 100%
  );
}
nav {
  font-family: "Dosis";
  font-size: 1.3rem;
}
.Logo {
  width: 100px;
}
.icon-nav {
  width: 1.3rem;
  margin-right: 5px;
}
.icon-login {
  width: 1.4rem;
}
.img-footer {
  width: 2rem;
}
.logo-footer {
  width: 300px;
}
.icon-footer {
  margin: 1rem;
  margin-top: 4rem;
}
.img-insta {
  width: 2.5rem;
}
.links {
  margin: 1rem;
}
.redes {
  margin-top: 3rem;
}
